



/*

footer{

    width: 100%;

    position: relative;

    height: 10%;

}

footer a{

    display: inline-block;

    vertical-align: middle;

    text-align:center;

    font-size: 25px;

    color: white;

    position: absolute;

  top: 50%;

  transform: translateY(-50%);

}

*/



/*FIN FOOTER */



/*DEBUT PROFIL */



.heading {

    padding-bottom: 2%;

}



.modifInfoPerso {

    width: 100%;

}





.profil_table {

    width: 100%;

    height: 40%;

    border-collapse: collapse;

    text-align: center;

    color: white;

}







.heading table th {

    border: 1px solid white;

}



.heading table td {

    padding: 0;

    border: 1px solid white;

}



.modif_info {

    margin-top: 1%;

    text-transform: uppercase;

}



.modif_comp {

    margin: 1%;

    text-transform: uppercase;

    float: right;

}



.input_profil {



}



.alert_profil {

    margin-top: 1%;

}





.mageProfil {

    margin-top: 2% !important;

}



.selectDip {

    border-radius: 2px;

    margin-bottom: 2px;

    width: 100%;

}



.selectDipDip {

    border-radius: 2px;

    margin-bottom: 2px;

    width: 100%;

}



.maxWidthArea {

    max-width: 70%;

}



.maxWidthInputDate {

    max-width: 90px;

}



.tailleTdExp {

    width: 70%;

}



.marginContainerProfil {

    margin: 3px;

}



.selectLesDips {

    max-width: 80%;

    margin: 1%;

}



/* FIN PROFIL */





/*##############\*

    Responsive

\*##############*/





@media screen and (min-width:800px) and (max-width:1280px) {

    .testBody {

    }



    #header img {

        display: inline-block;

        float: left;

        margin-top: 0;

        vertical-align: middle;

        box-shadow: none;

    }



    #header ul {

        display: inline-block;

        float: left;

        width: 60%;

        margin-top: 25px;

        padding-left: 10px;

        list-style: none;

    }



    #header ul a {

        display: inline-block;

        margin-left: 30px;

        font-size: 15px;

    }



    .navbar img {

        display: inline-block;

        float: none;

        text-align: center;

    }



    .navbar .navbar-nav {

        display: inline-block;

        float: none;

        width: 100%;

        text-transform: uppercase;

        vertical-align: top;

    }



    .navbar .navbar-nav li {

    }



    .navbar .navbar-collapse {

        text-align: center;

    }

}



@media screen and (max-width:800px) {

    .navbar img {

        display: inline-block;

        float: none;

        text-align: center;

    }



    .navbar .navbar-nav {

        display: inline-block;

        float: none;

        width: 100%;

        text-transform: uppercase;

        vertical-align: top;

    }



    .navbar .navbar-nav li {

    }



    .navbar .navbar-collapse {

        text-align: center;

    }









.nav_footer a {

    text-transform: uppercase;

    font-size: 10px;

    color: white;

}

}



/* RELATION */



#portfolioModal {

    display: none;

    border-radius: 5%;

    border: 1px solid black;
  
  }
  
  
  
  .arrondie {
  
    border-radius: 10px !important;
  
  }
  
  
  
  .deleteMarge {
  
    margin-top: -3%;
  
  }
  





@media (min-width: 900px){

    .modal-dialog {

        width: 1500px;

        margin: 30px auto;

    }}





/* PROFIL */



#ajouterExp {

    display: none;

}



#ajouterDiplome {

    display: none;

}



#modifInfoPerso {

    display: none;

}



.selectClass {

    font-size: inherit !important;

    max-width: 80%;

    margin: 1%;

    font-size: inherit !important;

    max-width: 100%;

    margin: 1%;

    border: 1px solid #1C1C1C;

  border-radius: 5px;

  padding-top: 1%;

  padding-left: 1%;

  padding-right: 1%;

  padding-bottom: 6%;
  
  background-color:#fff;

}






#modifierInformation {

    display: none;

}



/* RELATION */



.selectClass {

    border-radius: 3px;

    height: 30px;

    margin-bottom: 15px;

    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;



}

/* ANNONCE */



.candidature {

    float: right;

    background-color: #FFF;

    border-radius: 50%;

    width: 110px;

    padding-bottom: 35px;

    padding-top: 35Px;

    text-align: center;

    vertical-align: center;
    max-width: 80%;

    margin: 1%;

    font-size: inherit !important;

    max-width: 100%;

    margin: 1%;

}




.candidatureFull {

    float: right;

    background-color: #FFF;

    border-radius: 50%;

    width: 150px;

    padding-bottom: 40px;

    padding-top: 40Px;

    text-align: center;

    vertical-align: center;

    max-width: 80%;

    margin: 1%;

    font-size: inherit !important;

    max-width: 100%;

    margin: 1%;

   

}





.noMarginAnnonce {

    margin-bottom: 0px;
}
   







/* Dep Annonce */

.formDepAnnonce {

    margin-top: 5%;

}





/* COOKIE */



/*Le bandeau cookie*/

.cookie-banner {

    display: none;

    position: fixed;

    top: 0;

    width: 100%;

}



.cookie-banner .active {

    display: block;

}





/*Overlay de la boite de dialogue*/

   .cookie-inform-and-ask {



       display: none;

       height: 100%;

       left: 0;

       position: fixed;

       top: 0;

       width: 100%;

   }

.cookie-inform-and-ask .active {

     display: block;

}



/*La vraie boîte de dialogue*/

   .cookie-dialog {

       left: 50%;

       position: absolute;

       top: 50%;

       transform: translate(-50%, -50%);

       width: 70%;

   }

